@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';
.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .leftGroup {
    display: flex;
    align-items: center;
  }
  .rightGroup{
    button{
      @include btn-next-prev;
      background-color: $blue;
      color: $white;
    }
  }
}
