<div class="register">
  <h1 class="register-title">
    Information required for incorporation of new Company in Singapore
  </h1>
  <form [formGroup]="registrationForm" class="register-form">
    <mat-horizontal-stepper [linear]="false" labelPosition="bottom" #stepper>

      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>

      <!--  Step 1 -->
      <mat-step>
        <ng-template matStepLabel>Company info</ng-template>
        <app-step1 [group]="companyInfoFormGroup"></app-step1>
        <div class="foot-btns">
          <button></button>
          <button class="btn-next" matStepperNext (click)="getCompanyDetailsValue()">Next<span> > </span></button>
        </div>
      </mat-step>

      <!-- Step 2 -->
      <mat-step>
        <ng-template matStepLabel>Personal info</ng-template>
        <app-step2 [group]="personalInfoFormGroup"></app-step2>
        <div class="foot-btns">
          <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
          <button class="btn-next" (click)="getCompanyDetailsValue()" matStepperNext>Next<span> > </span></button>
        </div>
      </mat-step>

      <!--  Step 3 -->
      <mat-step>
        <ng-template matStepLabel>Company details</ng-template>
          <app-step3 [group]="companyDetailsFormGroup"></app-step3>

          <div class="foot-btns">
            <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
            <button class="btn-next" matStepperNext>Next<span> > </span></button>
          </div>


      </mat-step>

      <!-- Step 4 -->
      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>

          <app-step4 [group]="confirmationFormGroup"></app-step4>

          <div class="foot-btns">
            <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
            <button class="btn-next" matStepperNext>Next<span> > </span></button>
          </div>
      </mat-step>

      <!-- Step 5 -->
      <mat-step>
        <ng-template matStepLabel>Payment</ng-template>
        <app-step5 [group]="paymentFormGroup"></app-step5>

        <div class="foot-btns">
          <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
