<div class="register">
  <h1 class="register-title">
    Information required for incorporation of new Company in Singapore
  </h1>
  <form [formGroup]="registrationForm" class="register-form">
    <mat-horizontal-stepper [linear]="false" labelPosition="bottom" #stepper>

      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>

      <!--  Step 1 -->
      <mat-step>
        <ng-template matStepLabel>Company info</ng-template>
        <div class="steps-content" formGroupName="companyInfo">
          <h3 class="second-title">Company Name</h3>
          <div class="proposed-company-name">
            <h3 class="third-title">Proposed Company Name</h3>
            <div class="inputs" formArrayName="companyNameChoices">
              <ng-container *ngFor="let c of companyNameChoiceCounts;let ind = index">
                <ng-container [formGroupName]="ind.toString()">
                  <input [placeholder]="'Choice '+(ind+1)" formControlName="name_choice">
                </ng-container>
              </ng-container>
            </div>
            <a class="add-block add-chocie" (click)="addCompanyNameChoicesCount()">
              + Add choice
            </a>
          </div>
          <h3 class="second-title">Company Type</h3>
          <h3 class="third-title">Type of Company</h3>
          <input class="gray-input" placeholder="Private company limited by shares" disabled>
          <div class="horizontal-blocks">
            <div class="hr-block">
              <h3 class="third-title">Have you obtained approval from relevant authorities?</h3>
              <div class="hr-input">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="yes">Yes</mat-radio-button>
                  <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="hr-block">
              <h3 class="third-title">Will this new company take over another company?</h3>
              <div class="hr-input">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="later">Yes, maybe later</mat-radio-button>
                  <mat-radio-button value="not">No, not now</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="foot-btns">
          <button></button>
          <button class="btn-next" matStepperNext (click)="getCompanyDetailsValue()">Next<span> > </span></button>
        </div>
      </mat-step>

      <!-- Step 2 -->
      <mat-step>
        <ng-template matStepLabel>Personal info</ng-template>
        <div class="steps-content" formGroupName="personalInfo">
        <div *ngFor="let c of shareholderCounts">
            <h3 class="second-title">Director / Shareholder</h3>
            <div class="third-block">
              <div class="inputs">
                <div>
                  <label>First and Last Name</label>
                  <input placeholder="Enter your name as per your passport">
                </div>
                <div>
                  <label>Passport Number</label>
                  <input placeholder="Enter a valid passport number">
                </div>
                <div>
                  <label>Passport Expiry</label>
                  <input placeholder="Select" type="date" class="">
                </div>
              </div>
              <div class="inputs">
                <div>
                  <label>Nationality</label>
                  <select>
                    <option *ngFor="let nat of nationalities">
                      {{nat.Nationality}}
                    </option>
                  </select>
                </div>
                <div>
                  <label>Date of Birth</label>
                  <input placeholder="Select" type="date" class="">
                </div>
                <div class="international-number">
                  <label>Mobile number</label>
                  <international-phone-number placeholder="Phone number" class="phones" formControlName="phone"
                                              [maxlength]="20"
                                              [defaultCountry]="defaultCountry" [required]="true"
                                              (change)="changedCountry($event)"
                                              [allowedCountries]="allowedCountries"></international-phone-number>
                </div>
              </div>
              <div class="inputs">
                <div>
                  <label>Password</label>
                  <input placeholder="At least ten characters">
                </div>
                <div class="resid-address">
                  <label>Residential address</label>
                  <input placeholder="Address line 1">
                </div>
                <div class="resid-address">
                  <label class="dot-color">.</label>
                  <input placeholder="Address line 2">
                </div>
                <div class="postcode-address">
                  <label class="dot-color">.</label>
                  <input placeholder="Postcode">
                </div>
              </div>

              <div class="inputs">

                <div class="director-shareholder director-shareholder-for-radio ">
                  <div class="first-div">
                   <label>Are you both a director and shareholder?</label>
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="yes">Yes, I'm both the director and shareholder</mat-radio-button>
                      <mat-radio-button value="no">No, I'm the director but not a shareholder</mat-radio-button>
                    </mat-radio-group>
                    </div>
                  <div class="second-div">
                    <label>Shareholding Percentage (%)</label>
                    <select (change)="shareholdingChange($event)">
                      <option disabled selected hidden>Select</option>
                      <option>100%</option>
                      <option>
                        < 100%
                      </option>
                    </select>
                    </div>
                  </div>


              </div>
              <div class="inputs flex-start">
                <div class="attach">
                  <label>Attach Passport</label>
                  <div class="btn-upload-input">
                    <label for="attach-passport">Attach file<img src="assets/img/attach.png"></label>
                    <input type="file" id="attach-passport">
                  </div>
                </div>
                <div class="attach">
                  <label>Attach Proof of Address</label>
                  <div class="btn-upload-input">
                    <label for="attach-address">Attach file<img src="assets/img/attach.png"></label>
                    <input type="file" id="attach-address">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="third-block">
              <a class="add-block add-chocie" (click)="addShareholderCount()">
                      + Add director/shareholder
              </a>
              <h3 class="second-title">Nominee Director</h3>
              <div class="inputs">
                <div>
                  <label>First and Last Name</label>
                  <input class="back-gray" placeholder="As per records" disabled>
                </div>
                <div>
                  <label>Passport Number</label>
                  <input class="back-gray" placeholder="As per records" disabled>
                </div>
                <div>
                  <label>Passport Expiry</label>
                  <input class="back-gray" placeholder="As per records" type="date" disabled>
                </div>
              </div>
              <div class="inputs last-block">
                <div>
                  <label>Mobile number</label>
                  <input class="back-gray" placeholder="As per records" disabled>
                </div>
                <div>
                  <label>Email address</label>
                  <input class="back-gray" placeholder="As per records" disabled>
                </div>
                <div>
                  <label>Residential address</label>
                  <input class="back-gray" placeholder="As per records" disabled>
                </div>
                <div>
                  <label class="dot-color">.</label>
                  <input class="back-gray" placeholder="As per records" disabled>
                </div>
                <div>
                  <label class="dot-color">.</label>
                  <input class="back-gray" placeholder="As per records" disabled>
                </div>
              </div>
          </div>


        </div>
        <div class="foot-btns">
          <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
          <button class="btn-next" matStepperNext>Next<span> > </span></button>
        </div>
      </mat-step>

      <!--  Step 3 -->
      <mat-step>
        <ng-template matStepLabel>Company details</ng-template>
        <div class="steps-content" formGroupName="companyDetails">
          <h3 class="second-title">Business Information</h3>
          <div class="third-block">
            <div class="inputs two-blocks">
              <div>
                <label>Principal Business Activities</label>
                <select>
                  <option disabled selected hidden>Select</option>
                  <option *ngFor="let industry of industries">{{industry}}</option>
                </select>
              </div>
            </div>

            <div class="inputs two-blocks">
              <div>
                <label>Registered Office</label>
                <input class="back-gray" placeholder="As per records" disabled>
              </div>
              <div>
                <label>Constitution</label>
                <input class="back-gray" placeholder="Use ACRA's model constitution at the time of incorporation"
                       disabled>
              </div>
            </div>

            <h3 class="second-title">Ordinary Shares</h3>
            <div class="inputs">
              <div>
                <label>Number of Shares</label>
                <input placeholder="Type here">
              </div>
              <div>
                <label>Amount of Issued Share Capital ($)</label>
                <input placeholder="Type here">
              </div>
              <div>
                <label>Currency:</label>
                <select>
                  <option disabled selected hidden>Currency</option>
                  <option>USD</option>
                  <option>SGD</option>
                </select>
              </div>
            </div>

            <div class="inputs last-block">
              <div>
                <label>Secretary</label>
                <input class="back-gray" placeholder="As per records" disabled>
              </div>
              <div>
                <label>Financial Year End</label>
                <input class="back-gray" placeholder="31 12 2020" disabled>
              </div>
              <div>

              </div>
            </div>
          </div>

          <div class="foot-btns">
            <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
            <button class="btn-next" matStepperNext>Next<span> > </span></button>
          </div>
        </div>

      </mat-step>

      <!-- Step 4 -->
      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <div class="steps-content">
          <h3 class="second-title">Confirmation and Signatures</h3>
          <div class="checkbox-input">
            <input type="checkbox" id="checking-here" name="checking-here" value="Bike">
            <label for="checking-here">By checking here, you agree to our Terms of Service, Privacy Policy and to
              receive Kimbocorp emails, newsletters & updates.
              You also acknowledge that Kimbocorp uses cookies to give the best user experience.</label>
          </div>
          <div class="signature-block">
            <div class="signature">
              <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                             (onEndEvent)="drawComplete(sign, 'test')"
                             #sign></signature-pad>
            </div>

            <div class="signature">
              <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                             (onEndEvent)="drawComplete(sign, 'test')"
                             #sign></signature-pad>
            </div>
          </div>


          <div class="foot-btns">
            <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
            <button class="btn-next" matStepperNext>Next<span> > </span></button>
          </div>
        </div>
      </mat-step>

      <!-- Step 5 -->
      <mat-step>
        <ng-template matStepLabel>Payment</ng-template>
        <div formGroupName="payment" class="payment">

          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          <!--          <mat-form-field>-->
          <!--            <input matInput formControlName="input5">-->
          <!--          </mat-form-field>-->
        </div>
        <div class="foot-btns">
          <button class="btn-prev" matStepperPrevious><span> &#60; </span>Previous</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
