@import 'src/assets/styles/mixins';
@import 'src/assets/styles/styles';

input, div {
  box-sizing: border-box;
}

.register {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  .register-title {
    @include title-style;
  }

  .register-form {
    margin-top: 50px;
  }

  .signature {
    touch-action: none;
    border: 1px solid gainsboro;
    width: 200px;
  }

  .steps-content {
    .add-chocie {
      display: flex;
    }

    .checkbox-input {
      color: #2F2E33;
      font-size: 16px;
      font-family: 'Ubuntu-Regular';
      max-width: 800px;
      margin-left: 100px;

      input {
        margin-right: 5px;
      }
    }

    .back-gray {
      background: #F1F1F1 !important;
    }

    .second-title {
      color: #3B7097;
      margin: 14px 0px;
      font-size: 16px;
      padding-bottom: 10px;
      font-family: 'Ubuntu-Bold';
      border-bottom: 1px solid #EEEEEE;
    }

    .third-title {
      color: #2F2E33;
      font-size: 16px;
      font-family: 'Ubuntu-Medium';
      margin-bottom: 10px;
    }

    .gray-input {
      width: 35%;
      background: #F1F1F1;
      margin-bottom: 20px;
      justify-content: center;
      @include input-styles;
    }

    .horizontal-blocks {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .hr-block {
        width: 46%;

      }

      .hr-input {
        display: flex;
        justify-content: space-between;

        input {
          width: 18px;
          height: 18px;
          margin-right: 9px;
        }

        div {
          width: 43%;
          color: #2F2E33;
          @include input-styles;
        }
      }
    }

    .small-radio {
      width: 18px !important;
      height: 18px !important;
      margin-right: 9px;
    }

    .proposed-company-name {
      .inputs {
        display: flex;
        justify-content: space-between;
        align-content: center;

        input {
          width: 46%;
          justify-contet: center;
          @include input-styles;
        }
      }

      .add-block {
        width: 160px;
        @include add-block;
      }
    }

    .third-block {
      .add-block {
        width: 260px;
        @include add-block;
      }

      .flex-start {
        justify-content: flex-start !important;
      }

      .btn-upload-input {
        margin-right: 20px;
        width: 100%;
        border: 1px solid #D0D0D0;
        height: 40px;
        line-height: 40px;
        display: -webkit-box;
        padding-left: 14px;
        padding-right: 14px;

        &:hover {
          cursor: pointer;
        }

        label {
          width: 100%;
          display: block;
          height: 40px;
        }

        input {
          display: none !important;
        }

        span {
          margin-right: 5px;
        }
      }

      .inputs {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 30px;
        .international-number {
          .input-group {
            width: 100% !important;
            border: 1px solid #D0D0D0 !important;
            height: 40px;
            padding-left: 14px;
            justify-content: flex-start;
            display: flex !important;
            align-items: center;
          }
        }
        .attach {
          width: 32%;
          margin-right: 20px;

          > div {
            width: 100% !important;
          }
        }

        .director-shareholder {
          input {
            width: 18px;
            height: 18px;
            margin-right: 9px;
          }

          .dir-input {
            width: 100%;
            border: 1px solid #D0D0D0;
            height: 40px;
            -webkit-box-align: center;
            align-items: center;
            color: #2F2E33;
            display: flex;
            font-size: 14px;
            padding-left: 20px;
            font-family: "Ubuntu-Regular";
          }
        }

        div {
          width: 32%;
        }

        .resid-address {
          width: 27%;
        }

        .postcode-address {
          width: 100px;
        }

        label {
          color: #2F2E33;
          font-size: 14px;
          font-family: 'Ubuntu-Medium';
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        input {
          width: 100%;
          justify-content: center;
          @include input-styles;
        }

        select {
          width: 100%;
          justify-content: center;
          @include input-styles;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
          color: rgba(0, 0, 0, 0);
          opacity: 1;
          display: block;
          background: url(src/assets/img/calendar.png) no-repeat;
          width: 20px;
          height: 20px;
          border-width: thin;
          -webkit-appearance: none;
        }

        input[type="date"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      .inputs.two-blocks {
        div {
          width: 48%;
        }
      }

      .inputs.last-block {
        input {
          width: 94%;
        }
      }

      .dot-color {
        color: white !important;
      }
    }
  }
}

.foot-btns {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-prev {
    @include btn-next-prev;
    background: white;
    color: #2F2E33;
  }

  .btn-next {
    @include btn-next-prev;
    background: #3B7097;
    color: #fff;
  }

  span {
    margin: 0 5px;

  }
}

@media(max-width: 992px) {
  .register {
    padding: 10px;

    .register-title {
      font-size: 21px;
    }

    .steps-content {
      .horizontal-blocks {
        .hr-block {
          width: 49%;
        }

        .hr-input {
          div {
            width: 46%;
            padding-left: 4px;
          }

          input {
            width: 16px;
            height: 16px;
            margin-right: 3px;
          }
        }
      }

      .third-block {
        .inputs {
          .director-shareholder {
            .dir-input {
              padding-left: 8px;
              font-size: 11px;
            }
          }

          label {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .register {
    margin-top: 67px;
    padding: 8px;

    .register-title {
      font-size: 19px;
      line-height: 24px;
      text-align: center;
    }

    .steps-content {
      .horizontal-blocks {
        flex-direction: column;

        .hr-block {
          width: 100%;
          margin-bottom: 20px;
        }

        .hr-input {
          div {
            width: 46%;
            padding-left: 4px;
          }

          input {
            width: 16px;
            height: 16px;
            margin-right: 3px;
          }
        }
      }

      .third-block {
        .inputs {
          flex-direction: column;

          div {
            width: 95%;
          }

          label {
            margin-bottom: 10px;
            margin-top: 10px;
          }

          .resid-address {
            width: 95%;
            margin-top: 20px;

            .dot-color {
              display: none;
            }
          }

          .postcode-address {
            width: 95%;
          }
        }

        .btn-upload-input {
          margin-bottom: 20px;

          label {
            height: 18px;
          }
        }

        .inputs.last-block {
          input {
            width: 100%;
          }
        }

        .inputs.two-blocks {
          div {
            width: 95%;
          }
        }
      }

      .proposed-company-name {
        .inputs {
          flex-direction: column;

          input {
            width: 100%;
            padding-left: 10px;
            margin-bottom: 20px;
          }
        }
      }

      .third-title {
        line-height: 22px;
      }

      .gray-input {
        width: 100%;
      }
    }
  }
  .foot-btns {
    margin-top: 60px;
  }
}

@media(max-width: 480px) {
  .register {
    margin-top: 67px;
    padding: 8px;

    .register-title {
      font-size: 19px;
      line-height: 24px;
      text-align: center;
    }

    .steps-content {
      .horizontal-blocks {
        flex-direction: column;

        .hr-block {
          width: 100%;
          margin-bottom: 20px;
        }

        .hr-input {
          flex-direction: column;

          div {
            width: 100%;
            margin-bottom: 20px;
          }

          input {
            width: 16px;
            height: 16px;
            margin-right: 3px;
          }
        }
      }

      .proposed-company-name {
        .inputs {
          flex-direction: column;

          input {
            width: 100%;
            padding-left: 10px;
            margin-bottom: 20px;
          }
        }
      }

      .third-title {
        line-height: 22px;
      }

      .gray-input {
        width: 100%;
      }

      .third-block {
        .inputs {
          div {
            width: 100%;
          }

          input {
            padding-left: 6px;
            font-size: 11px;
          }

          select {
            padding-left: 6px;
            font-size: 11px;
          }
        }

        .inputs.two-blocks {
          div {
            width: 100%;
          }
        }

        .add-block {
          width: 90%;
          height: 35px;
          font-size: 13px;
        }
      }
    }
  }
  .foot-btns {
    margin-top: 60px;
  }
}
