@import 'src/assets/styles/styles';
.register-dialog {
    padding: 0 28px;
    box-sizing: border-box;
    .register-dialog-close {
        font-size: 20px;
    }
    .register-dialog-close:hover {
        cursor: pointer;
    }
    h1 {
        font-size: 24px;
        font-family: 'Ubuntu-Bold';
        color: #2F2E33;
        margin-bottom: 32px;
    }
    p {
        font-size: 16px;
        font-family: 'Ubuntu-Regular';
        color: #2F2E33;
        margin-bottom: 38px;
    }
    .tab-content {
        height: 240px;
        box-sizing: border-box;
        .text-email {
            color: #2F2E33;
            font-family: 'Ubuntu-Medium';
            font-size: 14px;
            margin: 24px 0;
        }
      .copy-link {
        margin-top: 45px;
      }
        input, select {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #D0D0D0;
            height: 40px;
            display: flex;
            border-radius: 4px;
            -webkit-box-pack: center;
            justify-content: center;
            align-content: center;
            padding-left: 20px;
            margin-bottom: 24px;
        }
    }
    button {
        width: 194px;
        height: 40px;
        background: #3B7097 !important;
        color: #fff;
        background: white;
        font-size: 14px;
        font-family: "Ubuntu-Regular";
        border-radius: 50px;
        border: 1px solid #D0D0D0;
        float: right;
    }
}
@media(max-width: 480px) {
  .register-dialog {
    padding: 0;
  }
}
