@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.confirm-code-container {
  display: flex;
  background: $body;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  padding: 60px 160px 45px 160px;
  font-family: 'Ubuntu-Medium';
  form {
    max-width: 475px;
    margin: auto;
    margin-top: 140px;
    background: $body;
    .test-main {
      color: #3B7097;
      font-family: Ubuntu-Bold;
    }
    .form-title {
      font-size: 18px;
      font-family: Ubuntu-Regular;
      color: $text;
      text-align: center;
      line-height: 0;
    }
    .form-title-2 {
      margin-bottom: 40px;
      font-size: 18px;
      font-family: Ubuntu-Regular;
      color: $text;
      text-align: center;
    }
    .confirm-content {
      background: white;
      border: 1px solid #EEEEEE;
      padding: 40px;
      box-sizing: border-box;
      color: $text;
    }
    .form-email-text {
      color: $text;
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
    }
    .resend-text {
      color: #3B7097;
    }
  }
  h1 {
    font-family: 'Ubuntu-Medium';
  }
  .mat-form-field {
    width: 100%;
  }
  button {
    @include btn-next-prev;
    background-color: $blue;
    color: $white;
  }
  .back-btn {
    @include btn-next-prev;
    background: white;
    color: $text;
    margin-top: 300px;
    span {
      margin-right: 5px;
    }
  }
}

@media(max-width: 992px) {
  .confirm-code-container {
    padding: 60px 60px 45px 60px;
  }
}
@media(max-width: 767px) {
  .confirm-code-container {
    padding: 0;
    form {
      margin-top: 100px;
    }
    .back-btn {
      margin: auto;
      margin-top: 150px;
    }
  }
}
@media(max-width: 480px) {
  .confirm-code-container {
    form {
      max-width: 100%;
      padding: 0 20px;
      .form-title {
        font-size: 16px;
        line-height: 1.4;
      }
      .form-title-2 {
        font-size: 16px;
      }
      .confirm-content {
        padding: 29px 16px;
      }
    }
  }
}
