<div class="confirm-code-container">
  <form>
    <p class="form-title">We've sent you a confirmation code to <span class="test-main">test@gmail.com</span></p>
    <p class="form-title-2">Enter the code soon, as it will expire shortly.</p>
    <div class="confirm-content">
      <mat-form-field>
        <input matInput placeholder="Your confirmation code" (paste)="codeChanged()">
      </mat-form-field>
    </div>
    <div>
      <mat-hint>
        <div class="form-email-text">
          Keep this open while you check your email.<br>
          Haven’t received our email? Try the spam folder or <a class="resend-text" href="#">resend it</a>.
        </div>
      </mat-hint>
    </div>
  </form>
  <button class="back-btn"><span><</span> Back</button>
</div>

