<div class="confirmCodeContainer">
  <form>
    <h1>Please check you email</h1>
    <span>We've sent you a confirmation code to test@gmail.com</span>
    <span>Enter the code soon, as it will expire shortly.</span>
    <div>
      <mat-form-field>
        <input matInput placeholder="Your confirmation code" (paste)="codeChanged()">
      </mat-form-field>
    </div>
    <div>
      <mat-hint>
        Keep this open while you check your email.
        Haven’t received our email? Try the spam folder or <a href="#">resend</a> it.
      </mat-hint>
    </div>
  </form>
</div>
