.new-company {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 40px;
  .new-company-title {
    font-size: 24px;
    color: #2F2E33;
    padding-bottom: 25px;
    font-family: 'Ubuntu-Bold';
    border-bottom: 1px solid #EEEEEE;
  }
  .new-company-content {
    margin: 0 auto;
    margin-top: 140px;
    display: flex;
    justify-content: center;
  }
  .new-company-item {
    margin-right: 15px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    width: 325px;
    height: 400px;
    padding: 25px;
    .new-company-block {
      height: 300px;
      margin-bottom: 50px;
    }
    h2 {
      color: #2F2E33;
      font-size: 20px;
      margin-bottom: 20px;
      font-family: 'Ubuntu-Bold';
    }
    p {
      color: #2F2E33;
      font-size: 16px;
      margin-bottom: 20px;
      font-family: 'Ubuntu-Regular';
    }
    .new-company-img {
      text-align: center;
      margin-bottom: 57px;
      margin-top: 62px;
    }
  }
  .btn-create-company {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 44px;
    width: 100%;
    background: #3B7097;
    color: #fff;
    border-radius: 31px;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}

@media(max-width:992px) {
  .new-company {
    .new-company-item {
      width: 280px;
      padding: 15px;
      h2 {
        font-size: 18px;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}
@media(max-width:767px) {
  .new-company {
    .new-company-content {
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
    .new-company-item {
      margin: 0 auto;
      margin-bottom: 30px;
      width: 280px;
      padding: 15px;
      h2 {
        font-size: 18px;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}

@media(max-width:767px) {
  .new-company {
    .new-company-content {
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
  }
}
@media(max-width:480px) {
  .new-company {
    padding: 10px;
    .new-company-content {
      margin-top: 20px;
    }
    .new-company-title {
      font-size: 20px;
      padding-bottom: 7px;
    }
    .btn-create-company {
      height: 40px;
      margin: 0 auto;
      width: 85%;
    }
    .new-company-item {
      width: 90%;
    }
  }
}


