<section class="new-company">
  <h1 class="new-company-title">
    Let’s get started
  </h1>
  <div class="new-company-content">
    <div class="new-company-item">
      <div class="new-company-block">
        <h2>Create a new company</h2>
        <p>Setup a new company account from scratch</p>
        <div class="new-company-img">
          <img src="assets/img/img-2.png">
       </div>
    </div>
      <a class="btn-create-company">Create a company</a>
    </div>
    <div class="new-company-item">
        <div class="new-company-block">
          <h2>Find or join an existing company</h2>
          <p>Find and join an existing company</p>
          <div class="new-company-img">
            <img src="assets/img/img-1.png">
          </div>
        </div>
      <a class="btn-create-company">Find a company</a>
    </div>
  </div>
</section>
