
<div class="confirm-code-container confirm-nothing">
    <form>
      <img src="assets/img/company.svg">
      <div>
        <mat-hint>
          <div class="form-email-text">
            Want to create a new company account? <a class="resend-text" href="#">start here</a><br>
          </div>
          <div class="form-email-text">
            If you're looking for a different company, try<a class="resend-text" href="#"> Using another email address.</a><br>
            Or ask your Company Administrator for an invitation
          </div>
        </mat-hint>
      </div>
    </form>
</div>
<div class="confirm-code-container confirm-success">
  <form>
    <img src="assets/img/success.svg">
    <p class="confirm-done">DONE!</p>
    <div class="form-email-text">
      You are already a member of:
    </div>
    <div class="launch-block">
      <input placeholder="Best joll company"><button>Launch</button>
    </div>
    <div>
      <mat-hint>
        <div class="form-email-text">
          Want to create a new company account? <a class="resend-text" href="#">start here</a><br>
        </div>
      </mat-hint>
    </div>
  </form>
</div>
