@mixin title-style {
  font-size: 24px;
  color: #2F2E33;
  padding-bottom: 25px;
  font-family: 'Ubuntu-Bold';
  border-bottom: 1px solid #EEEEEE;
  @media(max-width: 480px) {
    font-size: 20px;
    padding-bottom: 7px;
  }
}

@mixin add-block {
  height: 40px;
  border: 1px solid #3B7097;
  display: grid;
  color: #3B7097;
  justify-content: center;
  align-content: center;
  border-radius: 50px;
  font-size: 16px;
  margin: 20px auto 20px;
  font-family: 'Ubuntu-Regular';
  &:hover {
    cursor: pointer;
  }
  label {
    width: 100%;
    display: block;
  }
  input {
    display: none;
  }
  span {
    margin-right: 5px;
  }
}

@mixin btn-next-prev {
  width: 134px;
  height: 40px;
  font-size: 14px;
  font-family: 'Ubuntu-Regular';
  border-radius: 50px;
  border: 1px solid #D0D0D0;
}

@mixin input-styles {
  border: 1px solid #D0D0D0;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
