@import './mixins';
@import 'variables';
@import "media";


html, body, p, h1, h2, h3, h4, ul, input, button {
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}

button:active, button:focus {
  outline: none !important;
}

select {
  outline: none;
}

@font-face {
  src: url('src/assets/fonts/Ubuntu-B.ttf') format('truetype');
  font-family: 'Ubuntu-Bold';
}

@font-face {
  src: url('src/assets/fonts/Ubuntu-M.ttf') format('truetype');
  font-family: 'Ubuntu-Medium';
}

@font-face {
  src: url('src/assets/fonts/Ubuntu-R.ttf') format('truetype');
  font-family: 'Ubuntu-Regular';
}

.register {
  .mat-step-header {
    &:hover {
      background-color: transparent;
    }

    &:focus {
      background-color: transparent;
    }
  }
}

.mat-dialog-container {
  max-width: 484px !important;
  padding: 0 20px 20px 20px !important;
}

.mat-stepper-label-position-bottom {
  .mat-horizontal-stepper-header {
    padding: 10px !important;
  }
}

.mat-step-icon {
  height: 48px !important;
  width: 48px !important;
}

.phones {
  input.form-control {
    @include input-styles;
    width: 84%;
  }
}
.international-number {
  .input-group {
    display: flex;
    align-items: center;
  }
  .flagInput {
    border: 1px solid #D0D0D0;
    height: 40px;
    display: -webkit-box;
    display: flex;
    width: 68px;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 10px;
    >div {
      margin-left: 14px;
    }
    .dropdown-content {
      margin-left: -17px;
      margin-top: 11px;
    }
    .flag {
      margin-right: 5px;
    }
  }
}


@media(max-width: 480px) {
  .mat-dialog-container {
    padding: 12px;
  }
  .international-number {
    .flagInput  {
      .dropdown-content {
        margin-left: -17px;
        margin-top: 11px;
        width: 240px;
      }
    }
  }

}
